<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>


<table border="1">
    <tr>
  
        <th>id</th>
        <th >Artwork Name</th>
        <th >Artist Name</th>
    </tr>
    <tr th:each="message : ${artwork}">
    <td th:text="${message.acno}">Text ...</td>
    <td ><a href="" th:href="@{'/artwork/' + ${message.acno}}" th:text="${message.title}"></a></td>
    <td th:text="${message.artistName}">Text ...</td>
</tr>
</table>

</body>




</html>