<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tate Gallery</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li ><a href="/artist/" >Artists</a></li>
        <li><a href="/artwork/" >Artworks</a></li>
        <li class="active"><a href="/flickr/" >Flickr</a></li>
        
         
<li sec:authorize="hasRole('user')">
       <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" style="background:rgba(0,0,0,0);border:none;color: #777;padding-top: 15px; padding-bottom: 15px;"/>
        </form>
</li>
<li sec:authorize="!hasRole('user')">
   <a href="/login" >Login</a>
</li> 
      </ul>
    </div>
  </div>
</nav>

<span>The pictures below are the 15 most recent pictures uploaded to the Tate Gallery group Flickr Page, viewable <a href="https://www.flickr.com/groups/tatemodern/">here</a></span>

<div th:each="photo, iterationStatus : ${response.photos.photo}">

	<h3 th:text="${photo.title}"></h3>

	<img th:src="@{'https://farm' + ${photo.farm} + '.staticflickr.com/' + ${photo.server} + '/' + ${photo.id} + '_' + ${photo.secret} + '.jpg'}"/>
	


	<a th:href="@{'https://farm' + ${photo.farm} + '.staticflickr.com/' + ${photo.server} + '/' + ${photo.id} + '_' + ${photo.secret} + '.jpg'}">Link</a>

</div>

</body>
</html>