<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row row-centered">
    <img th:src="${singleArtwork.thumbnailUrl}"/>
    <p>Id: <span th:text="${singleArtwork.acno}">Text ...</span></p>
    <p>Title: <span th:text="${singleArtwork.title}">Text ...</span></p>
    <p>Medium: <span th:text="${singleArtwork.medium}">Text ...</span></p>
    <p>Artist: <a href="" th:href="@{'/artist/' + ${singleArtwork.artist.getId()}}" th:text="${singleArtwork.artist.getFullName()}"><span th:text="${singleArtwork.artist.getFullName()}">Text ...</span></a></p>
    
    <p>Movements: </p>
    <table border="1">
    <tr>	
    	<th>id</th>
    	<th>name</th>
	</tr>
    <tr th:each="message1 : ${singleArtwork.movements}">
    	<td th:text="${message1.id}">Text ...</td>
    	<td th:text="${message1.name}">Text ...</td>
	</tr>
    </table>
    
    </div>
    </div>

</body>




</html>